.AuthorCard {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: map-get($map: $spacing, $key: xsmall);
    width: 100%;
    margin-top: map-get($map: $spacing, $key: small);
    margin-bottom: map-get($map: $spacing, $key: small);
    
    .author-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 72px;
        height: 72px;
        border-radius: 50%;
    }
    .author {
        margin-bottom: 0;
        margin-top: 0;
    }
    .author-title {
        margin-bottom: 0;
        margin-top: 0;
    }
}
