#alert {
    background: brand-color(alert); // aemo-dark-red
    color: #fff;
    overflow: hidden;
    z-index: layer(alert);
    display: none;
    font-size: 19px;
    position: relative;

    .inner {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    &.purple-bg {
        background: brand-color(aemo-dark-purple);
    }
    &.orange-bg {
        background: brand-color(aemo-dark-red);
    }

    .icon-alert {
        margin-right: 15px;
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        background-size: contain;
        // @include breakpoint(small down) {
        //     display: none;
        // }
    }
    .btn-close {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        cursor: pointer;
        color: #fff;
        transition: color var(--timing) ease-in-out;

        .btn-close-txt {
            font-size: inherit;
            // text-transform: uppercase;
            margin-right: 10px;
            @include breakpoint(medium down) {
                display: none;
            }
        }
        .icon-close {
            font-size: 12px;
            width: 24px;
            height: 24px;
            border: 1px solid #fff;
            border-radius: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &:hover {
            opacity: 0.75;
        }
    }

    .text-wrapper {
        margin: 16px 0px;
        line-height: 1em;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        @include breakpoint(medium down) {
            flex-direction: column;
            align-items: flex-start;
        }
        .heading {
            font-size: 30px;
            margin-right: 20px;
            line-height: 24px;
            white-space: nowrap;
            @include breakpoint(medium down) {
                margin-right: 0px;
                margin-bottom: 10px;
                white-space: normal;
            }
            a {
                color: #fff;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                    color: #fff;
                }
            }
        }
        .text {
            font-size: 14px;
            margin-right: 20px;
            a {
                color: #fff;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                    color: #fff;
                }
            }
        }

        // new
        * {
            color: #fff;
        }
        p,
        a {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
