.ImageCTAbanner {
    margin-top: map-get($map: $spacing, $key: medium);
    margin-bottom: map-get($map: $spacing, $key: medium);
    @include breakpoint(medium) {
        margin-top: map-get($map: $spacing, $key: large);
        margin-bottom: map-get($map: $spacing, $key: large);
    }
    .TabsContent-container .page-wrapper.two-column & {
        padding-left: 0;
        padding-right: 0;
    }
    .TabsContent-container & {
        margin-bottom: 0;
    }
    .ImageCTAbanner-inner {
        background-color: brand-color(aemo-light-grey);
        width: 100%;
        padding: map-get($map: $spacing, $key: large);
        display: flex;
        align-items: center;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
            padding: map-get($map: $spacing, $key: small);
        }
        .TabsContent-container .page-wrapper.two-column & {
            padding: map-get($map: $spacing, $key: small);
            @include breakpoint(medium down) {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
    .text-wrap {
        padding-left: map-get($map: $spacing, $key: small2);
        flex: 2;
        display: flex;
        flex-direction: column;
        border-top: 0px;
        border-left: 1.5px solid brand-color(aemo-mid-grey);

        @media screen and (max-width: 768px) {
            border-top: 1.5px solid brand-color(aemo-mid-grey);
            border-left: 0px;
            padding-top: map-get($map: $spacing, $key: small2);
            padding-left: 0;
            min-height: 200px;
        }

        .TabsContent-container .page-wrapper.two-column & {
            @include breakpoint(medium down) {
                border-top: 1.5px solid brand-color(aemo-mid-grey);
                border-left: 0px;
                padding-top: map-get($map: $spacing, $key: small2);
                padding-left: 0;
                min-height: 200px;
            }
        }

        .content-title {
            @extend .section-title;
            @extend .smaller;
            margin-bottom: map-get($map: $spacing, $key: xsmall);
        }
        .section-title.smaller {
            margin-bottom: map-get($map: $spacing, $key: xsmall);
        }
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .btn-wrap {
        padding-top: map-get($map: $spacing, $key: small2);
        margin-top: auto;
    }
    .image-wrap {
        padding-right: map-get($map: $spacing, $key: medium);
        display: flex;

        @include breakpoint(medium down) {
            padding-bottom: map-get($map: $spacing, $key: small2);
        }

        .TabsContent-container .page-wrapper.two-column & {
            padding-right: map-get($map: $spacing, $key: small2);
        }

        > img {
            width: 100%;
            height: 200px;
            margin-left: auto;
            margin-right: auto;

            .two-column & {
                height: 162px;
            }
        }

        > div {
            background-size: contain;
            background-repeat: no-repeat;
            width: auto;
            height: 105px;
        }
    }
}
